*{
		margin:20px auto;
}
#content{
	width:900px;
	height:600px;
	margin:20px auto;
}
#content div{
	font-size:52px;
	font-weight:bold;
	padding:10px 20px;
	display:block;
	color:red;
/*	border:3px solid red; */
/*	border-radius:30px; */
	display:table-cell;
}